body{
    background-color: #000a1f;
}
.container{
    margin-top:  5%;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 14%;
    right: 20%;

}
.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.5s;
}
.container img:hover{
    width: 25%;
}
h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}